Write a Python program to multiplies all the items in a list.

for example list=[2, 3, 6]

result = 36

In [ ]:
def multiply(c):
  j=1
  for i in c :
     j=i*j
  return j

list=[1,2,3,4,5]

print(multiply(list))

120

Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
def last(n):
    return n[-1]  
   
def sort(tuples):
    return sorted(tuples, key=last)

In [ ]:
a = [(5,2), (1, 2), (4, 4), (2, 3), (2, 1)] 
print(sort(a))

[(2, 1), (5, 2), (1, 2), (2, 3), (4, 4)]

In [ ]:


def last(n):
    return n[-1]  
   
def sort(tuples):
    return sorted(tuples, key=last)
   
a=[(1, 3), (3, 2), (2, 1)]
print("Sorted:")
print(sort(a))

Sorted:
[(2, 1), (3, 2), (1, 3)]

In [ ]:
ade=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)] 

result = sorted(ade[4])
print (result)

[1, 2]

Write a Python program to combine two dictionary adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Expected output: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
def combine_dict(c,d):
  e = dict(c)
  for i,j in c.items():
    for k,l in d.items():
      if i == k:
        e[i]= j+l
  return e

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300} 
d2 = {'a': 300, 'b': 200, 'd':400}

print(combine_dict(d1,d2))

{'a': 400, 'b': 400, 'c': 300}

Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [15]:
def integral_number (n):
  #dictionary comprehension
  squares= {i : i*i for i in range(1,n+1)}
  return squares
print(integral_number(8))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Write a program to sort a tuple by its float element.
For example list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [30]:
def sort(tuples):
    return sorted(tuples, key=lambda x: float(x[1]), reverse=True)
a=[('item1', '12.20'), ('item2', '15.10') ,('item3', '24.5')] 
print(sort(a))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [5]:
a=input("enter a number:")
b=input("enter another number:")
c=float(a)+float(b)
print(c)

enter a number:4
enter another number:5
9.0

In [12]:
from math import *
round(3.5666,1) # ceil takes only one argument whereas round takes 2 args

3.6

In [25]:
def myfunc(n):
  return lambda a : a * n #Use lambda functions when an anonymous function is required for a short period of time.

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [27]:
def myfunc(n):
  j=2
  
  return j*n



print(myfunc(11))

22